<div class="main">
<div class="content">
<div class="tasks">
<div class="form">
<h1>Editing breakfast</h1>

<%= render 'form', breakfast: @breakfast %>

<%= link_to 'Show', @breakfast,class:'btn btn-info btn-sm' %> |
<%= link_to 'Back', breakfasts_path,class:'btn btn-secondary btn-sm' %>
</div>
</div>
</div>
<br><br><br><br><br>
</div>