<div class="main">
<div class="content">
<div class="tasks">
<div class="form">
<h1>New breakfast</h1>

<%= render 'form', breakfast: @breakfast %>

<%= link_to 'Back', breakfasts_path,class:'btn btn-secondary' %>
</div>
</div>
</div>
</div>